body {
	position: relative;
	background: slategrey;
}

/* Note hit marker */
.note_marker {
	width: 650px;
    height: 300px;
	border-radius: 5px;
	display: inline-block;
    opacity: 0;
    background: red;
    -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
    transition: opacity .2s;
	transition-timing-function: ease-out;
	
	margin: 0 auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 40%);
}
.note_marker.animate {
	opacity: 1;
}

/* Main */
#main {
	width: 620px;
	height: max-content;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}

#main .title {
	text-align: center;
	border-bottom: 1px dashed grey;
}
#main .title h3 {
	margin: 0;
}

#main .controls {
	border: 1px dashed grey;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}
#main .controls h3, .controls #header {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}

#main .synths {
	width: max-content;
	height: 170px;
}

#main .chords span {
	width: max-content;
}
#main .chords #header {
	font-size: x-large;
}

/* Default Theme */
.default-theme {
	background: white;
}

.default-theme .controls {
	background-color: lightgrey;
}


/* Red Theme */
.red-theme {
	background: #990000;
	color: white;
}
.red-theme .synths option {
	color: black;
}
.red-theme .controls {
	background: #ff6666
}
.red-theme button {
	background: #990000;
}

/* Dark Theme */
.dark-theme {
	background: black;
	color: #616161;
}
.dark-theme .synths option {
	color: black;
}
.dark-theme .controls {
	background: #292929;
}
.dark-theme button {
	background: #363636;
}

/* GWN Theme */
.gwn-theme {
	background: none;
	background-image: url("cn-flag.svg");
	background-size: contain;
	background-position: center;
	color: black;
}
.gwn-theme .title {
    text-shadow: 3px 2px 5px grey;
}
.gwn-theme .synths option {
	color: black;
}
.gwn-theme .controls {
	background: white;
}
.gwn-theme button {
	background: #FF0000;
	color: white;
}

/* Theme Selector */
#theme-selector {
	position: absolute;
	top: 0px;
	right: 0px;
	
	opacity: .5;
	margin: 20px;
}
#theme-selector:hover {
	opacity: 1;
}

/* Social media links */
.social {
	margin: 0 auto;
	top: 406px;
	left: 50%;
	width: 306px;
	position: absolute;
}

.fa {
	float: right;
    padding: 10px;
    font-size: 20px;
    width: 34px;
	height: 34px;
    text-align: center;
    text-decoration: none;
	
	margin: 2px;
	border-radius: 5px;
}

.fa:hover {
	text-decoration: none;
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-soundcloud {
    background: #f50;
    color: white;	
}

.fa-github {
	background: #24292e;
	color: white;
}