
body {
	position: relative;
	background: slategrey;
}

.thing {
	width: 500px;
    height: 300px;
	border-radius: 10px;
	display: inline-block;
    opacity: 0;
    background: red;
    -webkit-transition: opacity .5s; /* For Safari 3.1 to 6.0 */
    transition: opacity .2s;
	transition-timing-function: ease-out;
	
	
	margin: 0 auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 40%);
}
.thing.animate {
	opacity: 1;
}

.main {
	background: white;
	width: 460px;
	height: max-content;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.title {
	text-align: center;
	border-bottom: 1px dashed grey;
}
.title h3 {
	margin: 0;
}

.controls {
	border: 1px dashed grey;
	border-radius: 10px;
	margin: 10px;
	background-color: lightgrey;
}
.controls h3, .controls #header {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}

.main .keys {
	float: left;
	width: max-content;
	height: max-content;
	padding: 10px;
}

.main .synths {
	float: right;
	width: max-content;
	height: max-content;
	padding: 10px;
}
.main .chords {
	clear: both;
	width: 420px;
	height: max-content;
	padding: 10px;
}

.chords span {
	width: max-content;
}
.chords #header {
	font-size: x-large;
}
.chords #detail {
	color: red;
}